<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
    </ion-header-bar>
    <ion-content >
        <div ng-controller="BarcodeCtrl">


        </div>
    </ion-content>
</ion-pane>



function(event){
if((event.url).startsWith(BASE_ADMIN_URL)){
ConfigService.getToken();
EventService.getAllEvents(BASE_URL).success(function(result){
$scope.events = result;
}).error(function(error, status){
alert(status);
});

ref.close();

$scope.logged = true;
}